In [1]:
import pandas as pd
import numpy as np

In [2]:
death_data = pd.read_csv('deaths_NCHS_unprocessed.csv')

In [3]:
death_data = death_data[["State", "MMWRYearWeek", "DeathsFromPneumoniaAndInfluenza"]]

In [4]:
death_data[["MMWRYearWeek"]] = death_data[["MMWRYearWeek"]].astype(str)

Split into year and week

In [5]:
death_data['Year'] = death_data['MMWRYearWeek'].str[:4].astype(int)
death_data['Week'] = death_data['MMWRYearWeek'].str[4:].astype(int)
death_data.drop(['MMWRYearWeek'], axis=1, inplace=True)

Add quarters

In [6]:
quarter = [] 
for i in range(len(death_data)):
    if death_data['Week'][i] <= 13:
        quarter.append(1)
    elif death_data['Week'][i] <=26:
        quarter.append(2)
    elif death_data['Week'][i] <=39:
        quarter.append(3)
    elif death_data['Week'][i] <=53:
        quarter.append(4)
death_data["Quarter"] = quarter

Drop all rows where the state is NA

In [7]:
death_data = death_data.dropna(subset=["State"])

In [8]:
death_data[:5]

           State  DeathsFromPneumoniaAndInfluenza  Year  Week  Quarter
0  New Hampshire                             28.0  2018     5        1
1  New York City                             64.0  2016    29        3
2       Missouri                             84.0  2010    20        2
4         Kansas                             19.0  2018    20        2
5        Georgia                             89.0  2010    32        3

Found here: https://gist.github.com/rogerallen/1583593

In [9]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'New York City': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

# abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

In [10]:
death_data = death_data.replace({"State": us_state_abbrev})

In [17]:
death_data = death_data.sort_values(by=['State', 'Year', 'Week', 'Quarter'])

Check that all states are actually abbreviated

In [18]:
death_data['State_length'] = death_data['State'].apply(len)
for ind, length in enumerate(death_data['State_length'].tolist()):
    if length != 2:
        print(death_data['State'][ind])
death_data.drop(['State_length'], axis=1, inplace=True)

In [19]:
death_data

      State  DeathsFromPneumoniaAndInfluenza  Year  Week  Quarter
12573    AK                              3.0  2009    40        4
13863    AK                              3.0  2009    41        4
11260    AK                              3.0  2009    42        4
27160    AK                              2.0  2009    43        4
12906    AK                              6.0  2009    44        4
6740     AK                              8.0  2009    45        4
19273    AK                              3.0  2009    46        4
28180    AK                              7.0  2009    47        4
16691    AK                              4.0  2009    48        4
19408    AK                              5.0  2009    49        4
17143    AK                              5.0  2009    50        4
14203    AK                              8.0  2009    51        4
18463    AK                              2.0  2009    52        4
9670     AK                              4.0  2010     1        1
7184     AK                              2.0  2010     2        1
24235    AK                              3.0  2010     3        1
1534     AK                              2.0  2010     4        1
25326    AK                              2.0  2010     5        1
22529    AK                              5.0  2010     6        1
17600    AK                              6.0  2010     7        1
17148    AK                              5.0  2010     8        1
12130    AK                              4.0  2010     9        1
22956    AK                              7.0  2010    10        1
15002    AK                              7.0  2010    11        1
17535    AK                              3.0  2010    12        1
23281    AK                              6.0  2010    13        1
25501    AK                              7.0  2010    14        2
20427    AK                              4.0  2010    15        2
27660    AK                              3.0  2010    16        2
5732     AK                              8.0  2010    17        2
...     ...                              ...   ...   ...      ...
8999     WY                              3.0  2018    35        3
29366    WY                              5.0  2018    36        3
30445    WY                              8.0  2018    37        3
30854    WY                             10.0  2018    38        3
31397    WY                              3.0  2018    39        3
31410    WY                              9.0  2018    40        4
30135    WY                              5.0  2018    41        4
30253    WY                              5.0  2018    42        4
30685    WY                              3.0  2018    43        4
29966    WY                              3.0  2018    44        4
30394    WY                              9.0  2018    45        4
30721    WY                              7.0  2018    46        4
29903    WY                              5.0  2018    47        4
31171    WY                              8.0  2018    48        4
3695     WY                              5.0  2018    49        4
11270    WY                              9.0  2018    50        4
13232    WY                              7.0  2018    51        4
11295    WY                             11.0  2018    52        4
30004    WY                              5.0  2019     1        1
15174    WY                             11.0  2019     2        1
30093    WY                             11.0  2019     3        1
30063    WY                              5.0  2019     4        1
31362    WY                              6.0  2019     5        1
30094    WY                             12.0  2019     6        1
32097    WY                             14.0  2019     7        1
30803    WY                              5.0  2019     8        1
30824    WY                              7.0  2019     9        1
32357    WY                              8.0  2019    10        1
32494    WY                              6.0  2019    11        1
31558    WY                              3.0  2019    12        1

[25688 rows x 5 columns]

In [20]:
death_data.to_csv('deaths_NCHS_processed.csv', index=False)